@import "../../../../styles/variables.module.scss";
@import "../../../../styles/mixins.module.scss";

.link_to {
  position: absolute;
  z-index: 3;

  @include dflex_jcontent_aitems(stretch, center);
  @include fsize_lheight_fwieght_color(18px, 0px, 500, $white);
  text-transform: uppercase;

  span {
    margin-left: 16px;
    display: block;
    img {
      filter: brightness(100%);
    }
  }
}
.small {
  bottom: 32px;
}

.big {
  bottom: 84px;
  @include fsize_lheight_fwieght_color(32px, 44px, 700, $white);
  text-transform: none;

  span {
    display: none;
  }

  &.right {
    right: 48px;
  }

  &.left {
    left: 48px;
  }
}

.right {
  right: 32px;
}

.left {
  left: 32px;
}
