@import "../../variables.module.scss";
@import "../../mixins.module.scss";

.cabinet_inner {
  display: flex;
}

.cabinet_left_side {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  min-width: 290px;
  max-width: 290px;
  background: $background-grey;
  border-radius: 6px;
  padding: 16px;
  margin-right: 48px;
}

.cabinet_right_side {
  width: 100%;
  background: $background-grey;
  border-radius: 6px;
}
