.cabinet_inner {
  display: flex;
}

.cabinet_left_side {
  min-width: 270px;
  border-right: 1px solid rgba(128, 128, 128, 0.5);
  padding: 20px 10px;
  margin-right: 20px;
}

.cabinet_right_side {
  width: 100%;
}
