@import "../../../../styles/variables.module.scss";
@import "../../../../styles/mixins.module.scss";

.big_card {
  max-width: 292px;
  height: 382px;
  position: relative;
  display: flex;
  flex-direction: column;
  background: #f9f9f9;
}

.big_card_top {
  padding: 16px;
}

.title {
  @include fsize_lheight_fwieght_color(18px, 25px, 600, $accent);
  margin-bottom: 8px;
}

.size {
  @include fsize_lheight_fwieght_color(18px, 20px, 400, $text2);
  margin-bottom: 8px;
}

.country_season_wrapper {
  display: flex;
  margin-bottom: auto;
  & > div {
    margin-right: 8px;
  }
}

.country_wrapper,
.season_wrapper {
  padding: 4px 6px;
  background-color: $white;
  @include dflex_jcontent_aitems(baseline, center);
  border-radius: 100px;
  @include fsize_lheight_fwieght_color(12px, 16px, 400, $accent);
  span {
    margin-left: 6px;
  }
}

.country_wrapper {
  margin-right: 8px;
}

.main_img_wrapper {
  @include width_height(160px, 160px);
  @include pos_absolute(auto, 50%, 65px, auto);
  transform: translateX(-50%);
  z-index: 2;
}

.rating_price_wrapper {
  margin-top: auto;
  @include dflex_jcontent_aitems(center, center);
  flex-direction: column;
  padding: 30px 0 22px;
  z-index: 3;
  border-radius: 47% 30px 0 0;
}

.isNew {
  @include pos_absolute(auto, auto, 100px, auto);
  padding: 8px;
  @include fsize_lheight_fwieght_color(16px, 18px, 700, $white);
  background-color: $accent;
  z-index: 3;
}

.discount {
  @include pos_absolute(auto, auto, 138px, auto);
  padding: 8px;
  @include fsize_lheight_fwieght_color(18px, 20px, 700, $white);
  background-color: $accent2;
  z-index: 3;
}

.price {
  @include fsize_lheight_fwieght_color(24px, 20px, 600, $accent);
}

.frame {
  position: absolute;
  width: 100%;
  bottom: -4px;
}
