@import "../../../../styles/variables.module.scss";
@import "../../../../styles/mixins.module.scss";

.item {
  @include dflex_jcontent_aitems(space-between, center);
  padding: 13px 16px;
  background: $background-grey;
  margin-bottom: 16px;
  border-radius: 6px;

  .image_wrapper {
    min-width: 64px;
    max-width: 64px;
    min-height: 64px;
    max-height: 64px;
    position: relative;
    margin-right: 16px;
  }

  .text_wrapper {
    .item_title {
      @include fsize_lheight_fwieght_color(14px, 20px, 500, $accent);
      width: 154px;
    }

    .item_size {
      @include fsize_lheight_fwieght_color(14px, 20px, 400, $text2);
      text-transform: uppercase;
    }
  }

  .amount_wrapper {
    padding: 8px;
    background-color: $white;
    @include dflex_jcontent_aitems(center, center);
    margin: 0 auto 0 16px;

    flex-direction: column;
    border-radius: 4px;
    .amount_inner {
      @include dflex_jcontent_aitems(space-between, center);
      width: 100%;
      margin-top: 4px;

      .amount_number {
        @include fsize_lheight_fwieght_color(12px, 16px, 500, $accent);
        margin: 0 8px;
      }

      .amount_number,
      .dec,
      .inc {
        @include dflex_jcontent_aitems(center, center);
        @include width_height(20px, 20px);
        background: #f6f6f6;
        border-radius: 4px;
        cursor: pointer;
      }
    }
  }

  .price_wrapper {
    text-align: end;

    p {
      @include fsize_lheight_fwieght_color(16px, 20px, 400, #333333);
      padding: 4px 8px;
      display: inline-block;
      background: $light1;
      border-radius: 6px;
      margin-bottom: 8px;
      white-space: nowrap;
    }

    span {
      @include fsize_lheight_fwieght_color(12px, 20px, 400, $text2);
      cursor: pointer;
      display: block;
    }
  }

  &.big {
    background-color: $white;
    border: 1px solid;
    border: 1px solid $accent2;
    border-radius: 6px;
    padding: 32px 16px;

    .text_wrapper {
      .item_title {
        @include fsize_lheight_fwieght_color(16px, 20px, 500, $accent);
        width: 276px;
      }

      .item_size {
        @include fsize_lheight_fwieght_color(16px, 20px, 400, $text2);
      }
    }

    .amount_wrapper {
      padding: 8px 16px;
      background-color: $background-grey2;

      margin: 0 auto;
      .amount_inner {
        margin-top: 8px;

        .amount_number {
          @include fsize_lheight_fwieght_color(12px, 16px, 500, $accent);
          margin: 0 8px;
        }

        .amount_number,
        .dec,
        .inc {
          background: $white;
        }

        .amount_number {
          background: transparent;
        }
      }
    }

    .price_wrapper {
      text-align: end;

      width: 170px;

      p {
        @include fsize_lheight_fwieght_color(20px, 27px, 400, #333333);
        padding: 0;
        display: inline-block;
        background: transparent;
        white-space: nowrap;
        margin-bottom: 16px;
      }

      span {
        @include fsize_lheight_fwieght_color(14px, 20px, 400, $text2);
        cursor: pointer;
        display: block;
      }
    }
  }
}
