.controller {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.controller_sort_wrapper {
  display: flex;
  // align-items: center;
  select {
    padding: 4px 10px;
    border-radius: 50px;
    font-size: 16px;
    background-color: transparent;
    color: grey;
    border: 1px solid grey;
  }
}

.controller_view {
  display: flex;
  // align-items: center;
}

.controller_view_item {
  margin-left: 10px;
  padding: 5px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  border: 1px solid grey;
  svg {
    color: grey;
  }
}
