@import "../../../../styles//variables.module.scss";
@import "../../../../styles//mixins.module.scss";

.top_buttons {
  @include dflex_jcontent_aitems(space-between, center);
  padding: 32px;
  padding-bottom: 0;
}

.button {
  // min-width: 260px;
  flex: 1;

  @include dflex_jcontent_aitems(center, center);
  padding: 9px;
  margin-right: 32px;
  background-color: $white;
  border-radius: 6px;
  @include fsize_lheight_fwieght_color(16px, 20px, 500, $accent);
  &.active {
    background: $light1;
    border: 1px solid $accent2;
  }

  &:last-child {
    margin-right: 0;
  }
}

.image_wrapper {
  margin-right: 10px;
  @include width_height(24px, 24px);
  position: relative;
}

.setting_inner {
  padding: 32px;
}

// change settings

.change_form {
  max-width: 506px;
}

.change_title {
  @include fsize_lheight_fwieght_color(24px, 33px, 600, $accent);
  text-transform: uppercase;
  margin-bottom: 24px;
}

.put_photo_wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.put_photo_img_wrapper {
  @include width_height(96px, 96px);
  position: relative;
  margin-right: 16px;
  border-radius: 50%;
  overflow: hidden;
}

.file_input {
  display: none;
}

.buttons_photo_wrapper {
  display: flex;
  flex-direction: column;
}
.buttons_photo {
  padding: 8px;
  border-radius: 50px;
  background-color: $white;
  @include dflex_jcontent_aitems(center, center);
  @include fsize_lheight_fwieght_color(14px, 16px, 400, $accent);
  cursor: pointer;
  margin-bottom: 8px;
  &:last-child {
    margin-bottom: 0;
  }
}

.inputs_wrapper {
  background-color: $white;
  padding: 32px;
  margin-bottom: 32px;
  border: 1px solid $light;
  border-radius: 6px;
}

.input_wrapper {
  margin-bottom: 16px;
}

.change_inputs_label {
  display: block;
  margin-bottom: 5px;
}

.btn_submit {
  max-width: 257px;
}
