@import "../../../../styles/variables.module.scss";
@import "../../../../styles/mixins.module.scss";

.button {
  display: block;
  width: 100%;
  height: 52px;
  background: $accent2;
  border-radius: 100px;
  @include fsize_lheight_fwieght_color(16px, 22px, 500, $white);
}
