@import "../../../../styles/variables.module.scss";
@import "../../../../styles/mixins.module.scss";

.button {
  @include dflex_jcontent_aitems(center, center);
  width: 100%;
  height: 52px;
  background: $accent2;
  border-radius: 100px;
  @include fsize_lheight_fwieght_color(16px, 22px, 500, $white);

  &.second {
    background: transparent;
    border: 1px solid $accent2;
    color: $accent2;
  }
  span {
    margin-right: 10px;
    @include width_height(24px, 24px);
    position: relative;
  }
}
