@import "../../../../styles/variables.module.scss";
@import "../../../../styles/mixins.module.scss";
.link {
  @include fsize_lheight_fwieght_color(16px, 20px, 400, $accent);
  border: 1px solid $light;
  border-radius: 100px;
  padding: 8px 24px;
  display: inline-block;
}
