@import "../../../../styles/variables.module.scss";
@import "../../../../styles/mixins.module.scss";

.select {
  margin-bottom: 20px;
}

.label {
  margin-bottom: 4px;
  display: block;
  @include fsize_lheight_fwieght_color(14px, 19px, 400, $text2);
}

.input,
.textarea {
  display: block;
  width: 100%;
  padding: 8px 16px;
  border-radius: 100px;
  background: $background-grey;
  border: 1px solid $light;
  @include fsize_lheight_fwieght_color(14px, 19px, 400, $accent);
}

.textarea {
  resize: none;
  height: 100px;
}

// delete it
.button {
  width: 100px;
  padding: 10px;
  margin: 0 auto;
}

.input_password_wrapper {
  input::-ms-reveal,
  input::-ms-clear {
    display: none;
  }
  position: relative;
  input {
    padding: 8px 40px 8px 16px;
  }

  .img_password_wrapper {
    @include width_height(20px, 20px);
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
}

.input_number_wrapper {
  position: relative;

  input {
    padding: 8px 16px 8px 55px;
  }

  div {
    position: absolute;
    top: 49%;
    left: 16px;
    transform: translateY(-50%);
    @include fsize_lheight_fwieght_color(14px, 19px, 400, $accent);
  }
}

.error {
  @include fsize_lheight_fwieght_color(12px, 16px, 500, #ff7a7a);
  margin-top: 4px;
}

.errorInput {
  background: #fff2f2;
  border: 1px solid #ff7a7a;
}
