.shopping_card_order {
  display: flex;

  justify-content: center;
  margin-bottom: 100px;
}

.shopping_card_item {
  margin-right: 130px;
  color: grey;
  position: relative;

  &:nth-child(2) {
    &::after,
    &::before {
      content: "";
      top: 40%;

      min-width: 50px;
      width: 120px;
      height: 1px;
      position: absolute;
      background-color: grey;
    }

    &::after {
      right: -10px;
      transform: translate(100%, -100%);
    }
    &::before {
      left: -10px;
      transform: translate(-100%, -100%);
    }
  }
  &:last-child {
    margin-right: 0;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h4 {
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 85px;
    height: 85px;
    font-size: 25px;
    margin-bottom: 20px;
  }

  p {
    font-size: 14px;
  }

  &.active {
    color: black;
    h4 {
      border: 1px solid black;
    }
  }
}
