@import "../../../../styles//variables.module.scss";
@import "../../../../styles//mixins.module.scss";

.sub_product {
  padding: 6px 8px;
  @include dflex_jcontent_aitems(baseline, center);
}

.sub_product_imgbox {
  @include width_height(64px, 64px);
  margin-right: 16px;
  position: relative;
}

.sub_product_title {
  @include fsize_lheight_fwieght_color(14px, 20px, 400, $accent);
}

.sub_product_size {
  @include fsize_lheight_fwieght_color(14px, 20px, 400, $accent2);
  text-transform: uppercase;
}

.sub_product_title.sub_product_norating {
  margin-bottom: 0;
}

.sub_product_price {
  @include fsize_lheight_fwieght_color(16px, 20px, 400, $accent);

  span {
    @include fsize_lheight_fwieght_color(14px, 16px, 400, $text2);
    text-decoration: line-through;
  }
}
