@import "../../../../styles/variables.module.scss";
@import "../../../../styles/mixins.module.scss";

.inner {
  @include dflex_jcontent_aitems(space-between, center);
  width: 100%;
}

.heade_title {
  @include fsize_lheight_fwieght_color(32px, 44px, 700, $accent);
  margin: 8px 0;
  margin-right: 20px;
}
