.products {
}

.products_item {
  display: flex;
  padding: 25px 0;
  border-bottom: 1px solid grey;

  &:first-child {
    border-bottom: 1px solid grey;
  }

  .products_product,
  .products_price,
  .products_quantity,
  .products_total {
    display: flex;
    align-items: center;
  }

  .products_product {
    flex: 3;

    p {
      min-width: 100px;
      margin: 0 auto;
    }
  }
  .products_price {
    flex: 1;
  }
  .products_quantity {
    flex: 1;
    input {
      height: 100%;
      cursor: pointer;
    }

    // input {
    //   -moz-appearance: textfield;
    //   -webkit-appearance: textfield;
    //   appearance: textfield;
    // }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      padding: 20px;
      margin: 10px 0;
      background: transparent;
      color: red;
    }
  }
  .products_total {
    flex: 1;
    position: relative;
    .close {
      position: absolute;
      right: 10px;
      color: red;
    }
  }

  .products_img_wrapper {
    width: 100px;
    height: 100px;
    position: relative;
  }
}

.products_total_wrapper {
  margin: 50px auto;
  display: flex;
  flex-direction: column;

  max-width: 400px;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 20px;
  color: grey;

  p {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 10px;
    display: flex;
    border-bottom: 1px solid grey;
    padding-bottom: 2px;
    span {
      color: black;
      display: inlin-block;
      margin-left: auto;
    }
  }
}
