@import "../../../../styles/variables.module.scss";
@import "../../../../styles/mixins.module.scss";

.navbar_inner {
  @include dflex_jcontent_aitems(space-between, center);
}

.navbar_left_side {
  @include dflex_jcontent_aitems(stretch, center);
  flex: 1;

  .logo {
    display: block;
  }

  form {
    margin: 0 auto;
    .input_wrapper {
      width: 100%;
      position: relative;
    }

    input {
      padding: 4px 30px 4px 8px;
      background: #f2f2f2;
      border-radius: 100px;
      @include width_height(390px, 32px);
    }

    .img_box {
      @include width_height(17px, 17px);
      @include pos_absolute(50%, auto, auto, 8px);
      transform: translateY(-50%);
    }

    .input_img {
      @include width_height(100%, 100%);
      position: relative;
      object-fit: cover;
      object-position: center;
    }
  }
}

.navbar_right_side {
  @include dflex_jcontent_aitems(baseline, center);

  ul {
    display: flex;
  }

  .links_box {
    .language_and_links {
      @include dflex_jcontent_aitems(flex-end, center);
      margin-bottom: 16px;
    }

    .top_navbar_link {
      li {
        padding: 1px 30px;
        border-right: 2px solid $text2;
        @include fsize_lheight_fwieght_color(16px, 16px, 600, $text2);
        cursor: pointer;
        a {
          @include fsize_lheight_fwieght_color(16px, 16px, 600, $text2);
        }

        &:first-child {
          margin-left: 10px;
        }

        &:last-child {
          padding-right: 0;
          border-right: none;
        }
      }

      .cabinet {
        @include dflex_jcontent_aitems(stretch, center);
        height: 100%;

        .cabinet_img_wrapper {
          position: relative;
          @include width_height(18px, 18px);
          margin-right: 8px;
          border-radius: 50%;
          overflow: hidden;
        }
      }
    }

    .bottom_navbar_link {
      li {
        margin-left: 31px;
      }
      a {
        @include fsize_lheight_fwieght_color(16px, 16px, 400, $text2);
      }
    }
  }

  .price_box {
    margin-left: 40px;
    position: relative;
    @include dflex_jcontent_aitems(center, center);
    flex-direction: column;
    background: $accent;
    border: 1px solid #282f44;
    border-radius: 0px 0px 10px 10px;
    padding: 18px 9px;
    @include fsize_lheight_fwieght_color(16px, 16px, 600, $white);
    min-width: 94px;
    cursor: pointer;
    .price {
      margin: 6px 0 0;
    }
  }

  .price_amount {
    @include pos_absolute(10px, auto, auto, 27px);
    font-size: 10px;
    @include width_height(16px, 16px);
    background: #f15050;
    padding: 4px 6px;
    border-radius: 100px;
    @include dflex_jcontent_aitems(center, center);
  }
}
