@import "../../../../styles//variables.module.scss";
@import "../../../../styles//mixins.module.scss";

.pagination {
  display: flex;
  align-items: center;
  @include fsize_lheight_fwieght_color(14px, 16px, 400, $text2);
  span {
    padding-right: 6px;
    display: block;
  }
}

.pagination_show {
  margin-right: 6px;
}

.active {
  color: $accent;
}
