@import "../../../../styles/mixins.module.scss";

.new_product_inner {
  display: flex;
}

.new_product_item {
  flex: 1;
  height: 200px;
  position: relative;
  background-color: #e7e7e7;
}

.new_product_link {
  @include pos_absolute(auto, 32px, 32px, auto);
}

.new_product_img_wrapper {
  position: relative;
  @include width_height(100%, 100%);
}
