@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-size: 16px;
  line-height: 20px;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

//home components

// hero section
.hero {
  padding: 32px 0;
}

.hero_inner {
  display: grid;
  height: 486px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
}

.hero_main_item,
.hero_second_item,
.hero_third_item {
  background-color: grey;
}

.hero_main_item {
  grid-column: span 2;
  grid-row: span 2;
  position: relative;
  div {
    width: 100%;
    height: 100%;
  }
  .slick-dots {
    position: absolute;
    bottom: 48px;
    left: 48px;

    display: flex !important;
    max-width: 300px;
    button::before {
      color: rgba(255, 255, 255, 0);
    }

    button {
      border-radius: 50%;
      border: 1px solid #bdbdbd;
      width: 16px;
      height: 16px;
    }

    .slick-active {
      background-color: #bdbdbd;
      border-radius: 50%;
      width: 16px;
      height: 16px;
    }

    .slick-active button::before {
      color: transparent;
    }
  }
}

.hero_main_item {
  .hero_main_item-slides {
    position: relative;
    .hero_link {
      position: absolute;
      bottom: 96px;
      left: 48px;
      display: flex;
      align-items: center;
      color: #707070;
      font-size: 20px;
      line-height: 20px;
      span {
        margin-left: 16px;
      }
    }
  }
}

.hero_second_item,
.hero_third_item {
  position: relative;
  .hero_link {
    position: absolute;
    bottom: 37px;
    right: 32px;
    display: flex;
    align-items: center;

    font-size: 20px;
    line-height: 20px;
    span {
      margin-left: 16px;
    }
  }
}

.hero_second_item {
  height: 200px;

  .hero_link {
    color: #fff;
  }
}

.hero_third_item {
  height: 270px;
  .hero_link {
    color: #bdbdbd;
  }
}

// choose product by section

.choose_product_by__top-buttons {
  button {
    background-color: transparent;
    margin-right: 10px;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #bdbdbd;
    padding: 14px 32px;
    border-right: 1px solid #bdbdbd;
  }

  button:first-child {
    padding-left: 0;
  }

  button:last-child {
    border-right: none;
  }

  button.active {
    color: #4f4f4f;
  }
}
