@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;700&display=swap");

@import "./variables.module.scss";
@import "./mixins.module.scss";

* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  font-family: "Noto Sans", sans-serif;
  height: 100%;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

//------------------------------------------------------------------------------------Common Components-----------------------------------------------------------------------------------------------

// modal product

.modal_product {
  position: fixed;
  padding-top: 20px;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #00000072;
}

.modal_product_inner {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  max-height: 680px;
  overflow-y: scroll;
  border-radius: 8px;
}

.modal_product_inner::-webkit-scrollbar {
  border-radius: 8px;
}

.modal_product_inner::-webkit-scrollbar-thumb {
  background-color: #bdbdbd;
  border-radius: 0 8px 8px 0;
}

.modal_product_left {
  padding: 75px 35px 35px 55px;
  flex: 1;
  height: 100%;
}

.modal_product_left-social {
  display: flex;
  margin-bottom: 20px;
  span {
    display: flex;
    align-items: center;
    margin-right: 20px;
    color: #bdbdbd;
    svg {
      margin-right: 1px;
    }
  }
}

.modal_product_bigimage-wrapper {
  position: relative !important;
  width: 70%;
  height: 400px;
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: grey;
}

.modal_product_slider {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;

  .slider_modal_arrow {
    position: absolute;
    width: 30px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.88);
    svg {
      font-size: 40px;
    }
  }

  .slider_modal__arrow-prev {
    left: 0;
    top: 0;
    transform: translateX(-100%);
    height: 100%;
  }

  .slider_modal__arrow-next {
    right: 0;
    top: 0;
    transform: translateX(100%);
    height: 100%;
  }

  .modal_product_slide {
    width: 80px;
    height: 100px;
    background-color: grey;
    position: relative !important;
  }
  .slick-slider {
    .slick-list {
      max-width: 490px;
      margin: 0 auto;
    }
  }
}

.modal_product_right {
  padding: 75px 15px 35px 55px;
  position: relative;
  flex: 1;
  background-color: #bdbdbd6c;
  height: 100%;
}

.modal_product_right-inner {
  max-width: 480px;
}

.modal_product_bread_crumbs {
  display: flex;
  margin-bottom: 20px;
  span {
    display: flex;
    align-items: center;
    color: #bdbdbd;
    svg {
      font-size: 20px;
      margin: 0px 10px;
    }
  }
}

.modal_product_title {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 40px;
}

.modal_product_rating-box {
  display: flex;
  margin-bottom: 30px;
  color: #bdbdbd;
}

.modal_product_right-social {
  margin-bottom: 40px;
  display: flex;
  color: #bdbdbd;
  span {
    cursor: pointer;
    margin-right: 25px;
    display: flex;
    svg {
      margin-right: 10px;
    }
  }
}

.modal_product_text-wrapper {
  padding: 30px 0;
  margin-bottom: 28px;
  border-top: 1px solid #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
  color: #bdbdbd;
  p:not(p:last-child) {
    margin-bottom: 40px;
  }
}

.modal_product_price {
  font-size: 25px;
  margin-bottom: 35px;
  span {
    font-size: 20px;
    color: #bdbdbd;
    text-decoration: line-through;
  }
}

.modal_product_add-wrapper {
  display: flex;
  align-items: center;
  p {
    margin-right: 30px;
  }
  form {
    display: flex;
    align-items: center;
    select {
      padding: 14px 23px;
      border-radius: 50px;
      font-size: 20px;
    }
    button {
      display: inline-block;
      margin-left: 15px;
      background-color: pink;
      color: #fff;
      padding: 17px 35px;
      border-radius: 50px;
    }
  }
}

.modal_product_close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  cursor: pointer;
}

// --------
// slider custom arrows
.slider_arrow {
  @include pos_absolute(-60px, auto, auto, 0);
  background: $light;
}
.slider_arrow-next {
  border-radius: 0 50px 50px 0;
  padding: 4px 8px 0px 2px;
}
.slider_arrow-prev {
  right: 43px;
  border-radius: 50px 0 0 50px;
  padding: 4px 2px 0px 8px;
}

// ------------------------------------------------------------------------------------------------Home---------------------------------------------------------------------------------------------------
// home
.home {
  position: relative;
}

// hero section
.hero {
  padding: 32px 0;
}

.hero_inner {
  display: grid;
  height: 486px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
  overflow: hidden;
}

.hero_main_item {
  grid-column: span 2;
  grid-row: span 2;
  position: relative;
  overflow-x: hidden;

  div {
    @include width_height(100%, 100%);
  }

  .slick-dots {
    @include pos_absolute(auto, 48px, 48px, auto);
    display: flex !important;

    button::before {
      color: rgba(255, 255, 255, 0);
    }

    button {
      border-radius: 50%;
      border: 1px solid $white;
      @include width_height(16px, 16px);
    }

    .slick-active {
      background-color: $white;
      border-radius: 50%;
      @include width_height(16px, 16px);
    }

    .slick-active button::before {
      color: transparent;
    }
  }
}

.hero_main_item-slides {
  position: relative;
}

.hero_second_item {
  position: relative;
  height: 200px;
  grid-column: 3/4;
}

.hero_third_item {
  position: relative;
  height: 270px;
  grid-column: -2/-1;
}

.hero_subtitles {
  z-index: 1;
  @include pos_absolute(32px, 32px, auto, auto);
  @include fsize_lheight_fwieght_color(24px, 33px, 700, $white);
}

// --------
// choose product by section

.choose_product_by {
  position: relative;
  margin-bottom: 32px;
}

.choose_product_by__inner {
  overflow: hidden;
}

.choose_product_by__top {
  margin-bottom: 16px;
}

.choose_product_by__top-buttons {
  button {
    background-color: transparent;
    margin-right: 10px;
    @include fsize_lheight_fwieght_color(20px, 20px, 600, $text2);
    padding: 14px 32px;
    border-right: 2px solid $text2;
  }

  button:first-child {
    padding-left: 0;
  }

  button:last-child {
    border-right: none;
  }

  button.active {
    color: $accent;
  }
}

.choose_product_by__slides {
  .slick-list {
    margin-right: -70px;
  }
}

.choose_product_by__slide {
  cursor: pointer;
  height: 382px;
  max-width: 292px;
  background-color: #f3f3f3;
}

// --------
// subcategory
.sub_category {
  margin-bottom: 60px;
  position: relative;
}

.sub_category__inner {
  overflow: hidden;
}

.sub_category__top {
  margin-bottom: 16px;
}

.sub_category__title_wrapper {
  border-left: 16px solid #f3f3f3;
  padding: 19px 0 19px 16px;
  text-transform: uppercase;
  h2 {
    @include fsize_lheight_fwieght_color(32px, 44px, 600, $accent);
    margin-bottom: 8px;
  }

  p {
    letter-spacing: 4px;
    @include fsize_lheight_fwieght_color(20px, 27px, 600, $text2);
  }
}

.sub_category__slider {
  .slick-list {
    margin-right: -40px;
  }
}

.sub_category__slide {
  @include width_height(230px, 314px);
  width: 239px !important;
}

//--------------------Custom Select----------------------------------------------
.custom_select__control {
  border: 1px solid grey !important;
  border-radius: 10px !important;
  font-size: 13px !important;
  padding: 2px 0;
}

.custom_select__single-value {
  color: grey !important;
}
