@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap");

@import "./variables.module.scss";
@import "./mixins.module.scss";

* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  font-family: "Noto Sans", sans-serif;
  height: 100%;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: #ffffff1d;
  }

  &::-webkit-scrollbar-thumb {
    background: $light;
    border-radius: 8px;
  }
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

//------------------------------------------------------------------------------------Common Components-----------------------------------------------------------------------------------------------

//  product

.detail_product {
  .product_title {
    @include fsize_lheight_fwieght_color(32px, 44px, 700, $accent);
    margin: 20px 0;
  }
}

.detail_product_inner {
  @include dflex_jcontent_aitems(between, flex-start);
  background-color: $white;
  border-radius: 8px;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: #ffffff1d;
  }

  &::-webkit-scrollbar-thumb {
    background: $light;
    border-radius: 8px;
  }
}

.detail_product_left {
  padding: 48px;
  flex: 1;
  overflow: hidden;
}
.detail_product_social_item {
  @include dflex_jcontent_aitems(baseline, center);
  margin-right: 32px;
  cursor: pointer;
  span {
    margin-left: 10px;
  }
}

.detail_product_left-social {
  display: flex;
  margin-bottom: 100px;
  position: relative;

  .detail_product_social_item {
    @include dflex_jcontent_aitems(flex-start, center);
    @include fsize_lheight_fwieght_color(16px, 16px, 700, $text2);
  }
}
.detail_slider_wrapper {
  overflow: hidden;
  position: relative;

  .detail_slider_main_img {
    width: 400px;
    height: 400px;
    margin: 0 auto 30px;
    overflow: hidden;
    position: relative;
  }

  .detail_slides_wrapper {
    max-width: 500px;
    margin: 0 auto;
    cursor: pointer;
  }

  .slick-track {
    display: flex !important;
  }

  .slick-list {
    margin-right: -30px;
  }

  .detail_slide {
    width: 100px !important;
    height: 100px !important;

    padding: 10px;
    border: 1px solid $light;
    border-radius: 10px;
    &.active {
      background: $light;
    }
  }

  .detail_slide_img {
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    width: 80px;
    height: 80px;
    position: relative;
  }

  .slider_detail_arrow {
    background: rgba(236, 236, 236, 0.5);
    @include width_height(34px, 34px);
    @include dflex_jcontent_aitems(center, center);
    border-radius: 100px;
    position: absolute;
    top: 35%;
    svg {
      fill: $text2;
    }

    &.slider_detail__arrow_dis {
      svg {
        fill: $accent;
      }
    }
  }

  .slider_detail__arrow-prev {
    left: 0;
  }

  .slider_detail__arrow-next {
    right: 0;
  }
}

.detail_product_right {
  padding: 48px;
  position: relative;
  flex: 1;
  background-color: $light;
}

.detail_product_bread_crumbs {
  margin-bottom: 20px;
}

.detail_product_title {
  margin-bottom: 16x;
  text-transform: uppercase;
  @include fsize_lheight_fwieght_color(32px, 44px, 700, $accent);
}

.detail_product_size {
  @include fsize_lheight_fwieght_color(32px, 44px, 500, $accent);
  margin-bottom: 16px;
}

.detail_product_size_season_wrapper {
  @include dflex_jcontent_aitems(flex-start, flex-start);
  margin-bottom: 32px;
  & > div {
    margin-right: 16px;
  }
}

.detail_product_rating-box {
  display: flex;
  margin-bottom: 30px;
  @include fsize_lheight_fwieght_color(16px, 16px, 500, $text2);
  & > div {
    margin-right: 8px;
  }
}

.detail_product_right-social {
  display: flex;
  margin-bottom: 32px;
  .detail_product_social_item {
    text-transform: uppercase;
    @include fsize_lheight_fwieght_color(16px, 20px, 600, $text2);
  }
}

.detail_product_text-wrapper {
  padding: 30px 0;
  margin-bottom: 30px;
  border-top: 1px solid $text2;
  border-bottom: 1px solid $text2;
  @include fsize_lheight_fwieght_color(16px, 22px, 500, $text2);

  p:not(p:last-child) {
    margin-bottom: 30px;
  }
}

.detail_product_price {
  @include fsize_lheight_fwieght_color(32px, 44px, 700, $accent);
  span {
    @include fsize_lheight_fwieght_color(24px, 33px, 500, $text2);
    text-decoration: line-through;
    margin-right: 10px;
    display: inline-block;
  }
  margin-bottom: 32px;
}

.detail_product_add_wrapper {
  @include dflex_jcontent_aitems(flex-start, center);

  .detail_product_add_qty {
    @include fsize_lheight_fwieght_color(24px, 33px, 600, $accent);
    margin-right: 16px;
  }

  select {
    display: block;
    padding: 16px 32px;
    border-radius: 100px;
    margin-right: 16px;
  }

  select {
    background: $white;
  }

  .detail_product_add_btn {
    width: 140px;
    margin-right: 16px;
  }
}

.detail_product_add_tottal {
  @include fsize_lheight_fwieght_color(16px, 22px, 600, $accent);
  span {
    @include fsize_lheight_fwieght_color(12px, 16px, 400, $text2);
  }
}

// --------
// slider custom arrows
.slider_arrow {
  @include pos_absolute(-60px, auto, auto, 0);
  background: $light;
}
.slider_arrow-next {
  border-radius: 0 50px 50px 0;
  padding: 4px 8px 0px 2px;
}
.slider_arrow-prev {
  right: 43px;
  border-radius: 50px 0 0 50px;
  padding: 4px 2px 0px 8px;
}

// ------------------------------------------------------------------------------------------------Home---------------------------------------------------------------------------------------------------
// home
.home {
  position: relative;
}

// hero section

.hero_inner {
  display: grid;
  height: 486px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
  overflow: hidden;
}

.hero_main_item {
  grid-column: span 2;
  grid-row: span 2;
  position: relative;
  overflow-x: hidden;

  div {
    @include width_height(100%, 100%);
  }

  .slick-dots {
    @include pos_absolute(auto, 48px, 48px, auto);
    display: flex !important;

    button::before {
      color: rgba(255, 255, 255, 0);
    }

    button {
      border-radius: 50%;
      border: 1px solid $white;
      @include width_height(16px, 16px);
    }

    .slick-active {
      background-color: $white;
      border-radius: 50%;
      @include width_height(16px, 16px);
    }

    .slick-active button::before {
      color: transparent;
    }
  }
}

.hero_main_item-slides {
  position: relative;
}

.hero_second_item {
  position: relative;
  height: 200px;
  grid-column: 3/4;
}

.hero_third_item {
  position: relative;
  height: 270px;
  grid-column: -2/-1;
}

.hero_subtitles {
  z-index: 1;
  @include pos_absolute(32px, 32px, auto, auto);
  @include fsize_lheight_fwieght_color(24px, 33px, 700, $white);
}

.hero_img_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.hero_grad {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.55) 100%
  );
}

// --------
// choose product by section

.choose_product_by {
  position: relative;
}

.choose_product_by__inner {
  overflow: hidden;
}

.choose_product_by__top {
  margin-bottom: 16px;
}

.choose_product_by__top-buttons {
  button {
    background-color: transparent;
    margin-right: 10px;
    @include fsize_lheight_fwieght_color(20px, 20px, 600, $text2);
    padding: 14px 32px;
    border-right: 2px solid $text2;
  }

  button:first-child {
    padding-left: 0;
  }

  button:last-child {
    border-right: none;
  }

  button.active {
    color: $accent;
  }
}

.choose_product_by__slides {
  .slick-list {
    margin-right: -70px;
  }
}

.choose_product_by__slide {
  cursor: pointer;
  height: 382px;
  max-width: 292px;
  background-color: #f3f3f3;
}

// --------
// subcategory
.sub_category {
  position: relative;
}

.sub_category__inner {
  overflow: hidden;
}

.sub_category__top {
  margin-bottom: 16px;
}

.sub_category__title_wrapper {
  border-left: 16px solid #f3f3f3;
  padding: 19px 0 19px 16px;
  text-transform: uppercase;
  h2 {
    @include fsize_lheight_fwieght_color(32px, 44px, 600, $accent);
    margin-bottom: 8px;
  }

  p {
    letter-spacing: 4px;
    @include fsize_lheight_fwieght_color(20px, 27px, 600, $text2);
  }
}

.sub_category__slider {
  .slick-list {
    margin-right: -40px;
  }
  margin-bottom: 16px;
}

.sub_category__slide {
  @include width_height(230px, 314px);
  width: 239px !important;
}

.sub_category__button_link_wrapper {
  width: 150px;
  display: block;
  margin: 0 auto;
  button {
    padding: 9px;
  }
}

//--------------------Select----------------------------------------------
.main_select__control {
  border-radius: 50px !important;
  @include fsize_lheight_fwieght_color(14px, 19px, 400, $accent);
  border: none !important;
  height: 38px;
  padding: 0 5px;
}

.main_select__control.main_select__control--is-focused {
  box-shadow: none !important;
}

.main_select__placeholder {
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 19px !important;
  color: $accent !important;
}

.main_select__indicator-separator {
  display: none !important;
}

.main_select__dropdown-indicator {
  svg {
    fill: $text2;
    width: 16px;
    height: 16px;
  }
}

.label_main_select {
  @include fsize_lheight_fwieght_color(14px, 19px, 400, $text2);
  display: block;
  margin-bottom: 4px;
}

// select price

.select_second__control {
  background: #f2f2f2 !important;
  border: 1px solid $light !important;
  border-radius: 100px !important;
}

.select_second__control.select_second__control--is-focused {
  box-shadow: none !important;
}

.select_second__placeholder {
  font-weight: 400 !important;
  font-size: 16px !important;
  color: $accent !important;
}

.select_second__indicator-separator {
  display: none !important;
}

.select_second__dropdown-indicator {
  svg {
    fill: $text2;
    width: 16px;
    height: 16px;
  }
}

// pagination
.pagination_bottom {
  ul {
    @include dflex_jcontent_aitems(center, center);
    a {
      display: block;
      @include fsize_lheight_fwieght_color(12px, 16px, 600, $text2);
      padding: 8px 12px;
      cursor: pointer;
    }

    .selected {
      background: $light;
      border-radius: 4px;
    }
  }

  .next {
    margin-left: 25px;
  }
  .previous {
    margin-right: 25px;
  }

  .next,
  .previous {
    @include width_height(24px, 24px);
    background: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    svg {
      fill: $accent;
      font-size: 14px;
      margin-bottom: -2px;
    }
  }
}
